/* RedditItem.css */

.reddit-item {
  border: 1px solid #ccc;
  margin: 5px;
  background-color: #f9f9f9;
  display: flex;
  align-items: flex-start;
  min-width: 500px;
  align-items: center;
  position: relative; /* Added to set a relative position for proper popup placement */
}

.left-box {
  float: left;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-box {
  float: right;
  width: 100%;
  border: 1px solid #ccc;
  text-align: center;
  font-size: .8em;
}

/* ... (existing styles) */
/* RedditItem.css */
.reddit-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
  max-width: 500px;
  background-color: #f9f9f9;
  position: relative; /* Added to set a relative position for proper popup placement */
}

.source-link {
  margin-left: auto; 
margin-right: 0;
}

/* Popup styles */
.popup {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1;
  display: none;
  border-radius: 5px;
  color: #333;
  width: 500px;
  left: 50%; /* Center the popup horizontally */
  transform: translateX(20%); /* Center horizontally */
  transform: translateY(40%); 
  text-align: left; /* Align the text to the left */
  transition: opacity 0.3s; /* Added for smooth fade-in/out */
  white-space: normal; /* Allow text to wrap */
 
  
}

/* Remove max-height for .popup.off-screen-top */
.popup.off-screen-top {
  top: 5%; /* Adjust this value to keep it on screen */
  max-height: none; /* Remove max-height to allow content to wrap within the popup */
}

.discussion-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}


/* Display the popup on the left side if leftSpace is true */
.reddit-item.left-space .popup {
  left: 0;
  transform: translateX(0);
}

/* Display the popup on the right side if leftSpace is false (default) */
.reddit-item.right-space .popup {
  right: 0;
  transform: translateX(0);
}

.reddit-item:hover .popup {
  display: block;
}

/* End of RedditItem.css */

/* Define styles for the self-image class */
.self-image {
  max-width: 100%; /* Ensure the image fits within its container */
  max-height: 400px; /* Set a maximum height for the image */
  display: block; /* Ensure the image is displayed as a block element */
  margin: 0 auto; /* Center the image horizontally within its container */
}

/* RedditItem.css */

/* ... (existing styles) */

/* Style the self-text content */
.self-text {
  /* Apply general styling for HTML tags within self-text */
  font-size: 16px;
  color: #333;
  /* Add any other common styling properties */
}

/* You can also target specific HTML tags within self-text */
.self-text p {
  /* Apply styling for <p> tags within self-text */
  margin: 0;
  padding: 10px;
  /* Add any specific styling for paragraphs */
}

/* Add styling for other HTML tags as needed */
