.data-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  display: flex;
  max-width: 500px;
  background-color: #222;
  position: relative;
  transition: background-color 0.3s;

}

.data-item:hover {
  background-color: #333;
}

.source-link {
  margin-left: auto;
  margin-right: 0;
}

.right-box {
  width: 100%;
}
.link {
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: none;
}

.source-link a {
  display: inline-block;
}

/* Popup styles */
.popup {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 1000;
  display: none;
  border-radius: 5px;
  color: #333;
  width: 500px;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: left;
  white-space: normal;
}

/* Adjust the position of the popup based on the mouse coordinates */
.popup.active {
  left: calc(var(--mouse-x) + 10px);
  top: calc(var(--mouse-y) + 10px);
  display: block;
}

.discussion-text {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all;
}

/* Style for the score */

.left-box {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
.score {
  color: #008000;
  margin: 10px; /* Add a margin gap around the score */
}
